node_modules/
**/node_modules/
**/package-lock.json

**/dist/
**/build/
**/dist-ssr/
**/*.local

.env
.env.local
.env.*.local
**/.env
**/.env.*

.vscode/
.idea/
**/.idea/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
**/.DS_Store
Thumbs.db 